<a href="https://colab.research.google.com/github/AndyAlyf/Python_Latihan/blob/master/Eksplor_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
listKata = ("Makan","Uang")

dict["Makan"] = dict["Makan"]+1
for i in listKata:
    print(dict[i])

In [1]:
import pandas as pd
import csv

kolom=[]
data = pd.read_csv("Testes.csv")

# ambil kolom sebagai list
with open("Testes.csv") as csf:
    readCSV = csv.reader(csf,delimiter=",")
    for i in readCSV:
        kolom += i
        kolom = kolom[:-1]
        break

print(kolom)

['suka', 'masak', 'nasi', 'goreng', 'ukur', 'makan', 'beras', 'tanam', 'sawah', 'mobil', 'bus', 'angkut', 'tumpang']

In [15]:
print(data)

   suka  masak  nasi  goreng  ukur  ...  mobil  bus  angkut  tumpang  LABEL
0     2      3     3       3     0  ...      0    0       0        0      A
1     0      0     2       0     1  ...      0    0       0        0      A
2     0      0     1       0     0  ...      0    0       0        0      B
3     0      0     0       0     1  ...      4    2       1        1      B
4     0      0     0       0     1  ...      0    2       0        0      C

[5 rows x 14 columns]

In [18]:
dis = {{}}
for i in range(len(data)):
    if (data['LABEL'][i]=='A'):
        dis

suka       2
masak      3
nasi       3
goreng     3
ukur       0
makan      0
beras      0
tanam      0
sawah      0
mobil      0
bus        0
angkut     0
tumpang    0
LABEL      A
Name: 0, dtype: object
suka       0
masak      0
nasi       2
goreng     0
ukur       1
makan      1
beras      0
tanam      0
sawah      0
mobil      0
bus        0
angkut     0
tumpang    0
LABEL      A
Name: 1, dtype: object

In [0]:
dict = {"makan":5,"uang":1}
for i in kolom:
    if i in dict:
        print(i,":",dict[i])

makan : 5